body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8886ec;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(4, 22, 94, 0.884);
  }
  
  h1 {
    text-align: center;
    color: #04049c;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    background-color: #eae6ef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 10px 20px;
    background-color: #481776;
    color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #443a91;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #c9cbf7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(11, 11, 11, 0.559);
    transition: background-color 0.3s ease;

  }
  
  li:hover {
    background-color: #ffffff;
  }
  
  li span {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  li button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  li button:hover {
    color: #3e8fa8;
  }